@model Banking_management_system.Models.Installment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Installment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OpenedTime" class="control-label"></label>
                <select asp-for="OpenedTime" class="form-control"></select>
                <span asp-validation-for="OpenedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosedTime" class="control-label"></label>
                <select asp-for="ClosedTime" class="form-control"></select>
                <span asp-validation-for="ClosedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMonths" class="control-label"></label>
                <input asp-for="TotalMonths" class="form-control" />
                <span asp-validation-for="TotalMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label>
                <select asp-for="ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Money" class="control-label"></label>
                <input asp-for="Money" class="form-control" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyPaid" class="control-label"></label>
                <input asp-for="MoneyPaid" class="form-control" />
                <span asp-validation-for="MoneyPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthsPassed" class="control-label"></label>
                <input asp-for="MonthsPassed" class="form-control" />
                <span asp-validation-for="MonthsPassed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
